@import "../runo/runo.scss";
@include runo;


.back-none {
  background-color: white;
}

.back-red {
  background-color: red;
}

.back-blue {
  background-color: blue;
}

.back-orange {
  background-color: orange;
}


.text-white {
	color: white;
}

.text-black {
	color: black;
}

.text-yellow {
	color: yellow;
}

